<!-- <h1 style="text-align: center;">מתכונים</h1>    -->
<img src="../assets/images/yummy.png" alt="Sample Photo" style="display: block; width: 900px; height: 300px;"/>

<div class="navbar navbar-dark bg-dark" >
<a routerLink="/recepie" routerLinkActive="active" style="color: white">  מתכון</a>
<a routerLink="/shef" routerLinkActive="active" style="color: white">  שפים</a>
<a routerLink="/home-page" routerLinkActive="active" style="color: white">  דף כניסה</a>
<a routerLink="/manager" routerLinkActive="active" style="color: white"> מנהל</a>
</div>
<router-outlet></router-outlet>
 

      
      